@model List<RecentPost>

<div class="simple-carousel1" dir="ltr">
    @foreach (var item in Model)
    {
        try
        {
            var group = Groups.GetByID(item.GroupID);
            var url = UrlProvider.GetPostUrl(item.ID, item.Title, group.TitleEn);
            <div class="item">
                <a href="@url" class="post-img">
                    <img alt="@item.Title" title="@item.Title" src="@UrlProvider.GetPostImage(item.Image,StaticValues.LatestNewsImageSize)" />
                </a>
                <a style="display:block;padding:5px 5px; font-weight:bold;font-size:14px" href="@url" class="post-title"><h2>@item.Title</h2></a>
                <span style="display:block;padding:5px 5px;font-size:14px" class="date">@Utilities.ToPersianDateString(item.LastUpdate) <</span>
                <p style="display:block;padding:5px 5px;line-height:20px;font-size:14px">@item.Summary</p>
            </div>
        }
        catch (Exception ex)
        {
        }
    }
</div>
